*.sw?
artifacts/local/*.npz
artifacts/local/*.gz
artifacts/local/results

artifacts/kubernetes/*.npz
artifacts/kubernetes/*.gz
artifacts/kubernetes/results


artifacts/slurm/*.npz
artifacts/slurm/*.gz
artifacts/slurm/results

artifacts/*.ipynb_checkpoints
artifacts/*.nbconvert.ipynb

*.ipynb_checkpoints

.DS_Store
.vim
