*.sw?
workflows/local/*.npz
workflows/local/*.gz
workflows/local/results

workflows/kubernetes/*.npz
workflows/kubernetes/*.gz
workflows/kubernetes/results

workflows/slurm/*.npz
workflows/slurm/*.gz
workflows/slurm/results

results/*.ipynb_checkpoints
results/*.nbconvert.ipynb

*.ipynb_checkpoints

.DS_Store
.vim
